---
import Form from "@/components/Form.astro";

import { AUTH_API, INPUT_STYLE, BUTTON_STYLE } from "@/lib/constants";

const base = import.meta.env.BASE_URL;
const loginPageUrl = `${base}/login`;
---

<Form title="Update Password">
  <form
    id="reset-update-form"
    class="flex flex-col gap-2"
    action={`${AUTH_API}/reset_password/update`}
    method="post"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="hidden">
      {"{{ state }}"}
    </div>

    <div
      class="my-4 grid grid-cols-2 items-center gap-4"
      style={{ "grid-template-columns": "auto 1fr" }}
    >
      <label>Password:</label>
      <input
        required
        class={INPUT_STYLE}
        type="password"
        name="password"
        placeholder="Password"
      />

      <label>Password Confirm:</label>
      <input
        required
        class={INPUT_STYLE}
        type="password"
        name="password_repeat"
        placeholder="Password Confirm"
      />
    </div>

    <div class="flex w-full justify-between">
      <a class:list={BUTTON_STYLE} href={loginPageUrl}>Back</a>

      <button class:list={BUTTON_STYLE} type="submit"> Update Password </button>
    </div>
  </form>
</Form>
